<h1>User Dashboard</h1>
<h3>Events</h3>
<ul>
  <li><p>Event Name</p><p>stats</p></li>
</ul>

<h5>Settings</h5>
<ul>
  <li>Select Region</li>
  <li>Authentication: <span>@joshkadis</span></li>
  <li>Revoke Access</li>
</ul>