<% include header %>

<h4>Hello, <a href="">@joshkadis</a></h4>
<p>You've expressed an interest in 4 events.</p>
<ul class="medium-block-grid-3 events-list">
  <li>
  	<div class="event">
  		<h4><a href="./event/recycling-in-austin">Recycling in Austin</a></h4><p class="fa fa-check">5</p><p class="fa fa-users">4</p><p class="fa fa-plug">1</p>
  	</div>
  </li>
  <li>
  	<div class="event">
  		<h4><a href="./event/rent-is-too-damn-high">The rent is too damn high!</a></h4><p class="fa fa-check">5</p><p class="fa fa-users">4</p><p class="fa fa-plug">1</p>
  	</div>
  </li>
  <li>
  	<div class="event">
  		<h4><a href="./event/we-love-tacos">We love tacos</a></h4><p class="fa fa-check">5</p><p class="fa fa-users">4</p><p class="fa fa-plug">1</p>
  	</div>
  </li>
  <li>
  	<div class="event">
  		<h4><a href="./event/diverse-communities-forum">Diverse communities forum</a></h4><p class="fa fa-check">5</p><p class="fa fa-users">4</p><p class="fa fa-plug">1</p>
  	</div>
  </li>
</ul>

<hr />

<h4>Settings</h4>
  <li><a href="">Select Region</a></li>
  <li><a href="">Revoke Access</a></li>
</ul>
<% include footer %>