<html>
<head>
  <title>SND Converge</title>
  <link rel="stylesheet" type="text/css" href="http://cdn.foundation5.zurb.com/foundation.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/platform/main.css" />
</head>

<body>
<div id="nav">
	<img src="/images/converge-logo-notype.svg"/>
	Converge
</div>

<h1>User Dashboard</h1>
<h3>Events</h3>
<h3>Topics</h3>
<h5>Settings</h5>
<ul>
  <li>Region</li>
  <li>Authentication</li>
  <li>Revoke Access</li>
</ul>


  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="http://cdn.foundation5.zurb.com/foundation.js"></script>
</body>
</html>
