<% include header %>
<h1>Recycling in Austin</h1>
<ul class="filters">
  <li><p>10 watchers</p></li>
  <li><p>4 participants</p></li>
  <li><p>1 resource</p></li>
</ul>
<ul class="user-list">
  <li><a href="platform/dash"><span style="background-image:url('https://pbs.twimg.com/profile_images/72105811/josh.jpg');"></span><p>Josh Kadis</p></a></li>
  <li><a href="platform/dash"><span style="background-image:url('https://pbs.twimg.com/profile_images/650910834353393665/kW1gmPPg.jpg');"></span><p>Ashlyn Still</p></a></li>
  <li><a href="platform/dash"><span style="background-image:url('https://pbs.twimg.com/profile_images/663027338460979200/J0ItyDAq.jpg');"></span><p>Sydette Harry</p></a></li>
  <li><a href="platform/dash"><span style="background-image:url('https://pbs.twimg.com/profile_images/516811754114789376/-wTwlxI2.jpeg');"></span><p>Aidan Feay</p></a></li>
</ul>
<% include footer %>