<% include header %>
<h1>Recycling in Austin</h1>
<ul class="filters">
  <li><p>10 watchers</p></li>
  <li><p>4 participants</p></li>
  <li><p>1 resource</p></li>
</ul>
<ul id="user-list">

</ul>
<% include footer %>