<% include header %>
<div id="event-details"></div>
<ul class="filters">
  <li><p><i class="fa fa-check"></i> 10 watchers</p></li>
  <li><p><i class="fa fa-users"></i> 4 participants</p></li>
  <li><p><i class="fa fa-plug"></i> 1 resource</p></li>
</ul>
<ul id="user-list"></ul>
<% include footer %>