<h1>Event Name</h1>
<p>Details</p>
<ul class="filters">
  <li>watchers</li>
  <li>participants</li>
  <li>resources</li>
</ul>
<h3>Participants</h3>
<ul>
  <li><span>img</span>Name</li>
  <li><span>img</span>Name</li>
  <li><span>img</span>Name</li>
</ul>