<html>
<head>
  <title>SND Converge</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdn.foundation5.zurb.com/foundation.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/scripts/dashboard/bower_components/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/platform/main.css" />
</head>
<body>
  <div id="nav">
    <div class="row">
      <div class="medium-4 small-8 columns">
        <div id="nav-logo">
          <a href="/platform/dash"><img src="/images/converge-logo-notype.svg"/> <h1>Converge</h1></a>
        </div>
      </div>
      <div class="show-for-medium-up medium-4 columns">
        <ul class="medium-block-grid-3">
          <li><a href="/platform/event">events</a></li>
          <li><a href="#">topics</a></li>
          <li><a href="/platform/local">local</a></li>
        </ul>
      </div>
      <div class="medium-4 small-4 columns">
        <a href="/platform/dash">
          <i id="settings" class="fa fa-gear"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="dash-content">