<html>
<head>
  <title>SND Converge</title>
  <link rel="stylesheet" type="text/css" href="http://cdn.foundation5.zurb.com/foundation.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/platform/main.css" />
</head>
<body>
  <div class="content">
    <% include events %>
  </div>
	<% include footer %>
</body>
</html>