<% include header %>
<h1>Austin, TX</h1>
<h3>Events</h3>
<div id="local-map" style="height:400px"></div>
<h3>Topics</h3>
<ul>
	<li><h4><a href="/platform/topic">Recycling</a></h4></li>
	<li><h4><a href="/platform/topic">Housing</a></h4></li>
	<li><h4><a href="/platform/topic">Food</a></h4></li>
	<li><h4><a href="/platform/topic">Diversity</a></h4></li>
</ul>
<% include footer %>