body {
	padding:0;
	margin:0;
}

.content {
  max-width: 670px;
  padding: 10px 20px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.content p {
    padding-top: 10px;
    font-family: Arial, sans-serif;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 22px;
}

#share-row {
	width:100%;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:10px 0px;
}

#share-row span {
	/*margin:0px 10px 0px 0px;*/
	width:40px;
	text-align:center;
	display:inline-block;
	vertical-align: middle;
	cursor:pointer;
}
#share-row span i.fa {
	font-size:22px;
}
#share-row span#facebook i.fa {
	color:#3b5998;
}
#share-row span#twitter i.fa {
	color:#4099ff;
}
#share-row span#g-plus i.fa {
	color: #D50F25;
}

span#converge-btn img{
	cursor:pointer;
	height:25px;

}

#converge-modal-overlay {
	background-color:rgba(0,0,0,0.3);
	width:100%;
	height:100%;
	position:fixed;
	display:none;
}

#converge-modal {
	padding:20px 10px 0px 10px;
	width:90%;
	max-width:400px;
	margin:200px auto;
	position:relative;
	height:auto;
	border:1px solid #ccc;
	background-color:#fff;
	-webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
#close-modal {
	cursor:pointer;
	font-size:26px;
	color:#d8d8d8;
	font-weight:bold;
	position:absolute;
	top:10px;
	right:10px;
}
#close-modal:hover {
	color:#aaa;
}

#converge-modal .prompt {
	font-size:20px;
	margin:40px auto 40px auto;
	text-align:center;
	max-width:75%;
}

#converge-modal .prompt span {
	font-weight:bold;
}

#converge-logo {
	position:absolute;
	top:10px;
	left:10px;
	width:40px;
}

.converge-opts {
	bottom:0;
}
.converge-opts ul {
	border-top:1px solid #ccc;
}

.converge-opts ul > li {
	border-right:1px solid #ccc;
	/*height:50px;*/
	vertical-align: middle;
    text-align: center;
    cursor:pointer;
    height:100px;
    transition: all 0.2s ease;
}
.converge-opts ul > li:hover > a > i {
	font-size:36px;
	margin-top:15px;
	opacity:1;
	color:#009966;
}

.converge-opts ul > li:hover {
	background: #efefef;
}

.converge-opts ul > li > a label {
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-top:10px;
}

.converge-opts ul > li > a i {
	opacity:0.8;
	font-size:32px;
	transition: all 0.2s ease;
	margin-top:20px;
	color:#444c4b;
}
.converge-opts ul > li:last-child {
	border:0px;
}
