<html>
<head>
  <% include ../partials/head %>
</head>
<body>

<!--converge modal -->
<div id="converge-modal-overlay">
  <div id="converge-modal">
  	<img id="converge-logo" src="images/converge-logo-notype.svg"/>
  	<div id="close-modal"><i class="fa fa-times-circle"></i></div>
  	
  	<div id="prompt-converge">
  		<p>Are you interested in learning more about <span id="converge-topic">recycling</span>?</p>

	  	<div class="converge-opts">
	  		<ul class="small-block-grid-3">
	  			<li><a id="confirm" href="#">
	  				<label>Confirm</label>
	  				<i class="fa fa-check"></i>
	  			</a></li>
	  			<li><a id="connect" target="_blank" href="./platform/event/recycling-in-austin">
	  				<label>Connect</label>
	  				<i class="fa fa-users"></i>
	  			</a></li>
				<li><a id="create" target="_blank" href="./platform/event/recycling-in-austin">
					<label>Create</label>
					<i class="fa fa-plug"></i>
				</a></li>
	  		</ul>
	  	</div>
	</div>

	<div id="confirm-converge">
		<p>Thanks! You've confirmed your interest in this topic.</p>
		<a href="./platform/event">See who else is interested and get involved in this topic's community <i class="fa fa-arrow-right"></i></a>

	</div>
  </div>
</div>

  <div class="content">
    <h1>Why don't Austinites recycle more?</h1>
    <div id="share-row">
    	<span id="facebook"><i class="fa fa-facebook"></i></span>
    	<span id="twitter"><i class="fa fa-twitter"></i></span>
    	<span id="g-plus"><i class="fa fa-google-plus"></i></span>
    	<span id="email"><i class="fa fa-envelope-o"></i></span>
    <!-- converge -->
    	<span id="converge-btn">
    		<img src="images/converge-logo-notype.svg"/>
    	</span>

    </div>
    <p>Researchers have taken elaborate approaches to figure out why people do and don’t recycle.</p>
	<p>In one experiment, participants memorized a number on a slip of paper, either turned it over or crumpled it up, and then discarded it on the way out. Another conditioned participants by pairing pleasant or unpleasant images with pictures of recycling or consumerism. A third gave participants environmental or economic information about car sharing, then had them dispose of a sheet of paper.</p>
	<p>Austin officials, who are trying to divert nearly all the city’s waste from landfills, went a simpler route.</p>
	<p>They just asked people.</p>
	<p>This summer, the city received more than 1,300 responses — through 311 calls, emails, community events and an online forum where people could create a profile and support or comment on others’ posts — about how to reduce the amount of recyclables going to landfills.</p>
	<p>The effort stemmed from a study released this year that found Austin households served by the city place more recyclables in trash bins than they do in the blue recycling carts. Of the items that end up at the landfill, 44 percent could have been recycled, the study said.</p>
	<p>There’s an easy reason why, many participating in the effort said: Some households can’t fit all their recyclables into one blue recycling cart that is only picked up every other week, so they put them into the trash bin, which the city picks up every week.</p>
	<p>“Every other week is confusing, and it sends the message that Austin is only ½ serious about recycling,” one participant wrote.</p>
	<p>In the short term, residents can request another 96-gallon blue cart free of charge by calling the city or place excess recyclables at the curbside in a cardboard box.</p>
	<p>In the long term, Austin Resource Recovery Director Bob Gedert said he wants to speed up weekly recycling pickup to start in 2017. The city hadn’t planned to begin doing so until around 2019, when trash pickup would switch to every other week.</p>
	<p>“That’s a concrete action that I would not have taken without the input,” he said.</p>
	<p>Gedert said he isn’t sure of the cost to collect recycling weekly, but it would require purchasing more vehicles, adding staff, rethinking the routes — and approaching next spring a City Council with several members who are hesitant to raise rates.</p>
	<p>Right now there are recycling routes every week serving half the city, Gedert said. It’s not as simple as just using the weekly trash routes, as recycling trucks can service more households than the trucks carrying trash, he said.</p>
	<p>Dallas, San Antonio and Fort Worth all collect recycling once a week, while Houston is on a biweekly schedule.</p>
	<p>Other commenters said there’s a lack of access to recycling in public spaces.</p>
	<p>“For every trash can, there needs to be a recycle bin next to it,” a participant wrote.</p>
	<p>Gedert said he plans to accelerate doing just that, over three years instead of five or six. The city is in the middle of doing an inventory of trash receptacles, he said. The goal in the downtown area is about a thousand recycling containers, but he doesn’t know what the number should be outside of that area, Gedert said.</p>
	<p>Some participants were just confused and asked, for instance, whether peanut butter jars need to be cleaned before going in the recycle bin (a quick rinse is fine), so the city also intends to improve its education and outreach.</p>
	<p>One tool Austin Resource Recovery recently launched on its Web page allows visitors to type in any item and then spits out the options for disposing of it. The feature also allows visitors to type in their address, find their collection schedule and sign up for reminders about pickup by text, email, voicemail or Twitter.</p>
	<p>“The recycling program’s not broken,” Gedert said. “It’s very highly valued by the residents, but we have to find a way to get the message out on the recyclables that are going to the landfill.”</p>
	<p>Peter Pfeiffer, an Austin resident, architect and property manager who submitted remarks on the online forum, said he thought it was smart of the city to solicit feedback. Though Pfeiffer was one of those calling for the city to collect recyclables more frequently — he said even large containers at his properties start to overflow by the second week — he said he’s been thinking about whether the economic cost of recycling is worth the environmental benefits.</p>
	<p>“I was initially all over the idea of recycling, and in my heart I still am,” Pfeiffer said. But, he said, “I’ve been reading more and more about how it’s really expensive for a lot of cities to do it.”</p>
  </div>



  <% include ../partials/scripts %>
</body>
</html>